@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), sans-serif;
  --font-mono: var(--font-fira-code), monospace;

  --color-bg-base: var(--bg-base);
  --color-bg-card: var(--bg-card);
  --color-bg-pill: var(--bg-pill);
  --color-border-card: var(--border-card);
  --color-text-title: var(--text-title);
  --color-text-body: var(--text-body);
  --color-brand-indigo: var(--brand-indigo);
  --color-brand-indigo-bg: var(--brand-indigo-bg);
}

:root {
  --bg-base: #fbfbfb;
  --bg-card: #ffffff;
  --bg-pill: #f3f4f6;
  --border-card: #e5e7eb;
  --text-title: #0f172a;
  --text-body: #4b5563;
  
  --brand-indigo: #4f46e5;
  --brand-indigo-bg: #e0e7ff;
}

.dark {
  --bg-base: #090d16;
  --bg-card: #121824;
  --bg-pill: #1e293b;
  --border-card: #1e293b;
  --text-title: #f3f4f6;
  --text-body: #9ca3af;
  
  --brand-indigo: #818cf8;
  --brand-indigo-bg: #1e1b4b;
}

@utility transition-smooth {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-base);
}

::-webkit-scrollbar-thumb {
  background: var(--border-card);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-body);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-base);
  color: var(--text-body);
  font-family: var(--font-sans);
}
